.profile-pic {
    height: 10.5rem;
    border-radius: 107px !important;
    width: 19.5%;
    position: absolute;
    border: 4px solid white !important;
    margin-top: 6rem;
    margin-left: 2rem;
}

.message-button {
    margin-right: 1rem;
    border-radius: 21px !important;
    padding: 0rem !important;
    width: 13%;
    background-color: #0072b1 !important;
    border-color: #0072b1 !important;
}

.more-button {
    background-color: white !important;
    border-color: white !important;
    border-radius: 21px !important;
    padding: 0rem !important;
    color: gray !important;
    border: 1px solid gray !important;
    width: 13%;
}